<%- include('fragments/header') %>

<div id="wrapper">
    <div id="page-content-wrapper">
        <header>
            <%- include('fragments/empty_navbar') %>
        </header>

        <div class="container ">
            <div class="row ">
                <div class="col-md-12 content_table_productos">
                    <h1>Agregar Colegio</h1>

                    <form>
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="txt_nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="Rut">Rut</label>
                            <input type="text" class="form-control" id="txt_rut" placeholder="Rut">
                        </div>
                        <div class="form-group">
                            <label for="Direccion">Dirección</label>
                            <input type="text" class="form-control" id="txt_direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Telefono</label>
                            <input type="number" class="form-control" id="txt_telefono" placeholder="Telefono">
                        </div>
                        <div class="form-group">
                            <select id="cbx_sucursales" class="form-control">
                                <option value="0" disabled selected>Seleccionar Sucursal</option>
                                <option value="1">Santiago Centro</option>
                                <option value="2">Ñuble</option>
                            </select>
                        </div>

                        <button type="button" id="btn_save" class="btn btn-primary" data-toggle="modal" data-target="#edit_modal">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('fragments/footer_part') %>
    </div>
</div>

<%- include('fragments/footer') %>
<script src="js/auth.js"></script>
<script src="js/colegios.js"></script>