<%- include('fragments/header') %>

    <div id="wrapper">
        <div id="page-content-wrapper">
            <header>
                <%- include('fragments/empty_navbar') %>
            </header>

            <div>
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 content_table_existencias">
                            <h1>Administración de existencias</h1>

                            <div class="row float-right mt-2">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new_modal">Agregar existencia nueva</button>
                            </div>
                            <div class="table table-responsive">
                                <table id="table_existencias" class="table_existencias display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>PRODUCTO</th>
                                            <th>TALLA</th>
                                            <th>PRECIO</th>
                                            <th>CANTIDAD</th>
                                            <!--
                                            <th>TALLA</th>
                                            <th>PRECIO</th>
                                            <th>CANTIDAD</th>
                                            -->
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="edit_modal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Editar existencia</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <input type="hidden" class="form-control" id="hidd_id_p">
                                                <input type="hidden" class="form-control" id="hidd_id_t">
                                                <div class="form-group">
                                                    <label for="Nombre">Precio</label>
                                                    <input type="number" class="form-control" id="txt_precio" placeholder="Precio">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Cantidad</label>
                                                    <input type="number" class="form-control" id="txt_cantidad" placeholder="Cantidad">
                                                </div>
                                                <!--
                                                <div class="form-group">
                                                    <select name="cbx_tallas" id="cbx_tallas" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Precio</label>
                                                    <input type="number" class="form-control" id="num_precio">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Cantidad</label>
                                                    <input type="number" class="form-control" id="num_cantidad3">
                                                </div>
                                                -->
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btn_save" class="btn btn-primary" data-toggle="modal" data-target="#edit_modal">Guardar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="new_modal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Crear existencia</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <select id="cbx_newProducto" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <select id="cbx_newTalla" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Precio</label>
                                                    <input type="number" class="form-control" id="txt_newPrecio" placeholder="Precio">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Cantidad</label>
                                                    <input type="number" class="form-control" id="txt_newCantidad" placeholder="Cantidad">
                                                </div>
                                                <!--
                                                <div class="form-group">
                                                    <select name="cbx_newTalla" id="cbx_newTalla" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Precio</label>
                                                    <input type="text" class="form-control" id="txt_newPrecio" placeholder="Nombre">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Nombre">Cantidad</label>
                                                    <input type="text" class="form-control" id="txt_newCantidad" placeholder="Nombre">
                                                </div>
                                                -->
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btn_new" class="btn btn-primary" data-toggle="modal" data-target="#new_modal">Guardar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="delete_modal" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirmación</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>¿Esta seguro que desea eliminar el registro?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btn_delete" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Eliminar</button>
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('fragments/footer_part') %>
            </div>
        </div>
    </div>

    <%- include('fragments/footer') %>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="js/auth.js"></script>
        <script src="js/existencias.js"></script>