<%- include('fragments/header') %>

    <div id="wrapper">
        <div id="page-content-wrapper">
            <header>
                <%- include('fragments/navbar_perfiles') %>
            </header>

            <div>
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 content_table_perfiles">
                            <table id="table_perfiles" class="table_perfiles display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOMBRE</th>
                                        <th>ESTADO</th>
                                        <th>FECHA_INICIO</th>
                                        <th>FECHA_FIN</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <%- include('fragments/footer_part') %>
            </div>
        </div>
    </div>

    <%- include('fragments/footer') %>
        <script src="js/auth.js"></script>
        <script src="js/perfiles.js"></script>