<%- include('fragments/header') %>

    <div id="wrapper">
            <div id="page-content-wrapper">
                <header>
                    <%- include('fragments/navbar_perfiles') %>
                </header>

                <div class="root-home ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-md-12 ">

                            </div>
                        </div>


                        <div class="row ">

                        </div>
                    </div>

                    <%- include('fragments/footer_part') %>
                </div>
            </div>
    </div>

    <%- include('fragments/footer') %>
    <script src="js/auth.js"></script>
    <script src="js/perfiles.js"></script>