<div class="root-footer bg-dark text-white ">
    <div class="row justify-content-center nopadding ">
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4 ">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left ">

                <!-- Grid row -->
                <div class="row ">
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3 ">

                        <!-- Links -->
                        <h5>Información</h5>

                        <ul class="list-unstyled ">
                            <li>
                                Margarita del Villar Confecciones
                            </li>
                            <li>Celular:</li>
                            <li>+56 9 9165 2184</li>
                            <li>+56 9 9222 1890</li>
                            <li>E-mail:</li>
                            <li>m.caceres@margaritadelvillar.cl</li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3 ">

                        <!-- Links -->
                        <h5>Sucursal Ñuñoa</h5>

                        <ul class="list-unstyled ">
                            <li>Teléfono:</li>
                            <li>+56 2 2266 1785</li>
                            <li>
                                Pdte. Battle y Ordoñez 4489, Ñuñoa
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3 ">

                        <!-- Links -->
                        <h5>Sucursal Stgo. Centro</h5>

                        <ul class="list-unstyled ">
                            <li>Teléfonos:</li>
                            <li>+56 2 2697 4802</li>
                            <li>+56 9 9222 1890</li>
                            <li>Pasaje Allende 588, Stgo. Centro</li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3 ">

                        <!-- Links -->
                        <h5>Links de Interés</h5>

                        <ul class="list-unstyled ">
                            <li>
                                <a href="#! ">Mapa de ubicación</a>
                            </li>
                            <li>
                                <a href="#! ">Mapa de sitio</a>
                            </li>
                            <li>
                                <a href="#! ">Más info en mercantil.com</a>
                            </li>
                            <li>
                                <a href="#! ">Más info en amarillas.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="dropdown-divider "></div>
            <div class="footer-copyright text-center py-3 ">© 2018 Copyright:
                <a href="# "> A-Spec</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
</div>