<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="/" class="navbar-brand text-center">
        <img src="img/logo.png" id="logo-nav">
        <p class="label-title">MDV Express</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="nav-app" class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" id="navDropMenu" data-toggle="dropdown">
                    Colegios
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navDropMenu">

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ubicación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <form class="frm-buscar form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que desea buscar?" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
    </div>
    <!-- Ocultar esta parte del nav cuando esté versión móvil -->
    <span id="span_uareregistered" class="navbar-text">
        ¿Estas registrado?
    </span>
    <div id="dropdown_session" class="dropdown_session dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="session_dynamic_option"></div>
            <a class="dropdown-item" href="/change_password">Cambiar contraseña</a>
            <a id="btn_close_session" class="dropdown-item" href="#">Cerrar sesión</a>
        </div>
    </div>
    <li class="nav-link dropdown" id="loginBtn">
        <a href="#" class="btn btn-outline-dark" data-toggle="dropdown">Ingresar</a>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                                <label class="sr-only" for="lbl_email">Email</label>
                                <input type="text" class="form-control" id="txt_email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="lbl_pswd">Password</label>
                                <input type="password" class="form-control" id="txt_pswd" placeholder="Contraseña" required>
                                <div class="help-block text-right">
                                    <a href="/forgot_password">¿Olvido su contraseña?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn_login" class="btn btn-primary btn-block">Ingresar</button>
                            </div>
                        </form>
                    </div>
                    <div class="bottom text-center">
                        ¿Eres nuevo?
                        <a href="/register">
                            <b>Registrate</b>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <button class="btn btn-outline-secondary navbar-right" href="#menu-toggle" id="menu-toggle">
        <span class="fas fa-cart-plus"></span>

    </button>
    <div class="col-md-1 "></div>

</nav>